$bodyBackground : #6AC4BD;
$headerBackground : #D95191;
$textColor : #131C74;
$mealListColor: black;
$selectedColor: #7EC610;

.selected {
  color: $selectedColor;
}

ul {
    list-style-type: none;
}

ul .mealDisplay {
  display: block;
  max-width: 400px;
}

.mealDetails {
  float: right;
  padding-left: 35px;
  line-break: strict;
}

.mealEdit {
  float: right;
  line-break: strict;
}

.heading {
  background-color: $headerBackground;
  text-align: center;
  font-size: 4em;
  padding-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}

.mealList{
  color: $mealListColor;
}

body {
  background-color: $bodyBackground;
  color: $textColor;
}
