$bodyBackground : #6AC4BD;
$headerBackground : #D95191;
$textColor : #131C74;
$mealListColor: black;
$selectedColor: #7EC610;

body {
  background-color: $bodyBackground;
  color: $textColor;
}

.selected {
  color: $selectedColor;
}

.heading {
  background-color: $headerBackground;
  text-align: center;
  font-size: 4em;
  padding-bottom: 15px;
}

.hidden{
  
}

.mealList{
  color: $mealListColor;
}
